
!*.yaml
!.gitignore
!*.md
*.db*
*.sqlite
*.xml
*.conf
*.mp3

archive/

.uuid
.HA_VERSION
.storage
.cloud
.google.token

ha.code-workspace
ip_bans.yaml
secrets.yaml
known_devices.yaml
.spotify-token-cache

OZW_Log.txt
*.log

# python
__pycache__
# custom updated
www/github
*.js
.vscode/sftp.json
custom_components/